{:paths ["src/main" "src/test"]
 :deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        cljs-http/cljs-http {:mvn/version "0.1.46"}
        reagent/reagent {:mvn/version "1.1.0"}
        metosin/reitit {:mvn/version "0.5.15"}
        metosin/reitit-frontend {:mvn/version "0.5.15"}}
 :aliases
 {:dev {:extra-paths ["src/dev"]
        :extra-deps {thheller/shadow-cljs {:mvn/version "2.20.16"}}}}}
